@page "/register"
@using Tournament.Client.Components;
@using Tournament.Domain.Players
@using Tournament.Shared
@inject HttpClient Http

<p><a style="font-weight: bold;" href="/login">@message</a></p>
<p><a style="font-weight: bold;" href="/login">@login</a></p>

<PageTitle>@Loc["Header_Register"]</PageTitle>
<MudGrid>
    <MudItem xs="0" sm="3"></MudItem>
    <MudItem xs="12" sm="6">
        <MudPaper Class="pa-2" Elevation="3">
            <MudText Typo="Typo.subtitle2">@Loc["Header_Register"]</MudText>
            <MudGrid>
                <MudItem xs="12">
                    <MudTextField @bind-Value="reg.Email" Label="@Loc["Label_Email"]" Variant="Variant.Text" InputType="InputType.Email"></MudTextField>
                </MudItem>
                <MudItem xs="12">
                    <MudTextField @bind-Value="reg.Password" Label="@Loc["Label_Password"]" Variant="Variant.Text" InputType="InputType.Password"></MudTextField>
                </MudItem>
                <MudItem xs="12">
                    <MudTextField @bind-Value="reg.ConfirmPassword" Label="@Loc["Label_RepeatPassword"]" Variant="Variant.Text" InputType="InputType.Password"></MudTextField>
                </MudItem>
                <MudItem xs="12">
                    <MudTextField @bind-Value="reg.FirstName" Label="@Loc["Label_Name2"]" Variant="Variant.Text"></MudTextField>
                </MudItem>
                <MudItem xs="12">
                <MudTextField @bind-Value="reg.LastName" Label="@Loc["Label_LastName"]" Variant="Variant.Text"></MudTextField>
                </MudItem>
                <MudItem xs="12">
                    <MudSelect T="Gender" @bind-Value="reg.Gender" Label="@Loc["Label_Gender"]" Variant="Variant.Outlined">
                        <MudSelectItem Value="Gender.Male">@Loc["Enum_Gender_Male"]</MudSelectItem>
                        <MudSelectItem Value="Gender.Female">@Loc["Enum_Gender_Female"]</MudSelectItem>
                    </MudSelect>
                </MudItem>
                <MudItem xs="12">
                    <MudDatePicker Label="@Loc["Label_BirthDate"]" @bind-Date="reg.BirthDate" TitleDateFormat="dddd, dd MMMM" />
                </MudItem>
                <MudItem xs="12">
                    <MudButton Class="mt-4" Variant="Variant.Filled" Color="Color.Primary" FullWidth="true" OnClick="@(async () => await DoRegister())">@Loc["Label_Register"]</MudButton>
                </MudItem>
            </MudGrid>
            <p><a style="font-weight: bold;" href="/login">@message</a></p>
            <p><a style="font-weight: bold;" href="/login">@login</a></p>
        </MudPaper>
    </MudItem>
    <MudItem xs="0" sm="3"></MudItem>
</MudGrid>

@code {
    RegistrationModel reg = new RegistrationModel();
    string message = string.Empty, login = string.Empty;
    bool isDisabled = false;

    [CascadingParameter(Name = "ErrorComponent")]
    protected IErrorComponent ErrorComponent { get; set; }

    [Inject] UserService UserService { get; set; }


    private async Task DoRegister()
    {
        isDisabled = true;
        var response =  await UserService.Register(reg);
        if (response.Error is null)
        {
            message += Loc["Text_PleaseLogin"];
            login = Loc["Header_Login"];
        }
        else
        {
            ErrorComponent.ShowError(response.Error?.ErrorMessage);
            isDisabled = false;
        }
    }
}
